# -----------------
# R specific
# -----------------
.Rhistory
.RData
.Rproj.user/

# knitr/Rmarkdown cache
*_cache/
cache/

# -----------------
# LaTeX specific
# -----------------
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.run.xml

# -----------------
!*.tex
!*.pdf
